<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Extend.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>HutHelper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Notification Service Extension.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A2FF4D81E50170400B07EB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A2FF4E71E50179700B07EB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A7D3CAE1DB0A7ED00355E7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A85677A1DA908AA00EBD44A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
